/* End of exam report page styling */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* body{
    /* background: linear-gradient(
        to right, 
        #ffffff 0%, 
        #ffffff 50%, 
        #2a7c6f 50%, 
        #2a7c6f 100%
      ); */
/* width: 50% ;
        height: 100%; 
        overflow:hidden; 
        
}*/

/* li{
  list-style: none
}


#d1{
  transform: translate(10%, 50%);

}

#d2{
  transform: translate(15%, 50%);

} */

/* p{
  display: inline;
} */

.shad{
  /* position: relative; */
  /* background-color: #000; */
}

#imagePopup{
  display: none;
  position: fixed;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  max-width: 50%;
}

#ERInfo {
  text-align: center;
}
#title {
  text-align: center;
  padding-top: 60px;
}

#head {
  background-color: #2a7c6f;
  padding-bottom: 90px;
}
#center {
  padding-top: 40px;
}

#cent {
  margin-right: 20px;
  /* padding-left: 20px; */
}

#cent2 {
  margin-right: 20px;

  /* margin-top: -265px;
  padding-left: 90px; */
}

#cent3 {
  margin-right: 20px;

  /* margin-top: -265px;
    padding-left: 170px; */
}

#cent4 {
  margin-right: 20px;

  /* margin-top: -265px;
      padding-left: 170px; */
}

#cent5 {
  margin-right: 20px;

  /* margin-top: -265px;
        padding-left: 170px; */
}

#cent6 {
  margin-right: 20px;

  /* margin-top: -265px;
      padding-left: 170px; */
}
#cent7 {
  margin-right: 20px;

  /* margin-top: -265px;
        padding-left: 170px; */
}

#logProct {
  margin: 0;
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10%;
  height: 50px;
  border: 1px solid;
  margin-bottom: 40px;
  background: #269482;
  border-radius: 25px;
  font-size: 18px;
  color: #e9f4fb;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}
/* #center{
text-align: center;
  } */

/* #head {
    padding: 40px;
    text-align: center;
    background: #2a7c6f;
    color: white;
    font-size: 10px;
  } */
/* 
  table{
      text-align: center;
      margin-left: auto;
      margin-top: 80px;
      margin-right: auto;
      border: 1px solid black;
      border-collapse: collapse;

  }

  table th{

    background-color: aquamarine;
  } */

.mpopup {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
.modal-content {
  position: relative;
  background-color: #fff;
  margin: auto;
  padding: 0;
  width: 450px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  border-radius: 0.3rem;
}
.modal-header {
  padding: 2px 12px;
  background-color: #ffffff;
  color: #333;
  border-bottom: 1px solid #e9ecef;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}
.modal-header h2 {
  font-size: 1.25rem;
  margin-top: 14px;
  margin-bottom: 14px;
}
.modal-body {
  padding: 2px 12px;
}
.modal-footer {
  padding: 1rem;
  background-color: #ffffff;
  color: #333;
  border-top: 1px solid #e9ecef;
  border-bottom-left-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
  text-align: right;
}

.close {
  color: #888;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* add animation effects */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
